 


 

@media (max-width: 425px){
    .cart{
        width: 90%; 
        margin: auto;
        /* border: 1px solid; */
        padding: 30px 0;

    }
    .card_title > h1{
        text-align: center;
        margin: 30px 0;
        color: #515151;
        letter-spacing: 2px;
    }
    .cart__item-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0;
    }
    .cart__item-header > button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
    }

    .cart__item-header h3,h4{
        margin: 10px 0;
        color: #10181c;
    }
    .contain_card__product{
        /* border: 1px solid; */
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .cart__item{
        
        margin: 5px 0;
        /* border: 1px solid #ccc;  */
        border-radius: 8px;
        -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);-moz-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);
    }

    .cart_footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0;
    }
    .cart_footer span,p{
        margin: 10px 0;
        color: #10181c;
        font-size: 18px;
    }
    .contenedor_quantity{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        border-radius: 6px;
        width: 24px;
        height: 24px;
        text-align: center;
    }
}

@media (min-width: 427px){

    .cart{
        width: 90%; 
        margin: auto;
        /* border: 1px solid; */
        padding: 30px 0;

    }
    .card_title > h1{
        text-align: center;
        margin: 30px 0;
        color: #515151;
        letter-spacing: 2px;
    }
    .cart__item-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0;
    }
    .cart__item-header > button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
    }

    .cart__item-header h3,h4{
        margin: 10px 0;
        color: #10181c;
    }
    .contain_card__product{
        /* border: 1px solid; */
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .cart__item{
        
        margin: 5px 0;
        /* border: 1px solid #ccc;  */
        border-radius: 8px;
        -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);-moz-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);
    }

    .cart_footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0;
    }
    .cart_footer span,p{
        margin: 10px 0;
        color: #10181c;
        font-size: 18px;
    }
    .contenedor_quantity{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        border-radius: 6px;
        width: 24px;
        height: 24px;
        text-align: center;
    }
}


@media (min-width: 576px){

    .cart{
        width: 95%; 
        margin: auto;
        /* border: 1px solid; */
        padding: 30px 0;

    }
    .card_title > h1{
        text-align: center;
        margin: 30px 0;
        color: #515151;
        letter-spacing: 2px;
    }
    .cart__item-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0;
        
    }

    .cart__item-header > button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
    }

    .cart__item-header h3,h4{
        margin: 10px 0;
        color: #10181c;
    }
    .contain_card__product{
        /* border: 1px solid; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
        width: 100%;
        /* margin: auto; */
        justify-content: center;
    }

    .cart__item{
        margin: auto;
        width: 250px;
        margin: 5px 0;
        /* border: 1px solid #ccc;  */
        border-radius: 8px;
        -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);-moz-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);
    }

    .cart_footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0;
    }
    .cart_footer span,p{
        margin: 10px 0;
        color: #10181c;
        font-size: 18px;
    }
    .contenedor_quantity{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        border-radius: 6px;
        width: 24px;
        height: 24px;
        text-align: center;
    }
}

@media (min-width: 768px){
    .cart{
        width: 95%; 
        margin: auto;
        /* border: 1px solid; */
        padding: 30px 0;

    }
    .card_title > h1{
        text-align: center;
        margin: 30px 0;
        color: #515151;
        letter-spacing: 2px;
    }
    .cart__item-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0;
        
    }

    .cart__item-header > button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
    }

    .cart__item-header h3,h4{
        margin: 10px 0;
        color: #10181c;
    }
    .contain_card__product{
        /* border: 1px solid; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
        width: 82%;
        margin: auto;
        justify-content: flex-start;
        text-align: center;
    }

    .cart__item{
        margin: auto;
        min-width: 330px;
        max-width: 370px;
        /* margin: 5px 0; */
        /* border: 1px solid #ccc;  */
        border-radius: 8px;
        -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);-moz-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);
    }

    .cart_footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0;
    }
    .cart_footer span,p{
        margin: 10px 0;
        color: #10181c;
        font-size: 18px;
    }
    .contenedor_quantity{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        border-radius: 6px;
        width: 24px;
        height: 24px;
        text-align: center;
    }
}
 
@media (min-width: 1024px){

    .contain_card__product{
        /* border: 1px solid; */
        width: 90%;
        /* border: 1px solid #ccc; */
        border-radius: 8px;
        box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);
        }

    }
    .cart__item{
        margin: 5px 0;
        /* padding: 20px; */
        border: 1px solid #ccc;
        box-shadow: 0px 0px 0px 1px #2f6c8b;}

    .cart__item:hover{
        margin: 5px 0;
        /* padding: 20px; */
        border: 1px solid #2f6c8b;
        box-shadow: 0px 0px 0px 1px #2f6c8b;
    }



.cart__hr{
    /* margin: auto; */
    /* display: inline-block; */
    /* width: 80%; */
    margin: 30px 0;
}

.containn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: #515151;
}

.footer .contenedor___button{
    text-align: center;
}

.footer button{
    width: 60%;
    padding: 10px 0;
    border: none;
    background: #f85555;
    border-radius: 6px;
    margin: 8px 0;
}